body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
    font-size: 10vw;
}

h2 {
    color: #333;
    font-size: 8vw;
}

p {
    color: #333;
    margin-bottom: 20px;
    font-size: 3vw;
}