body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0a154e;
}

.container {
    text-align: center;
}

h1 {
    color: #6278ea;
    font-size: 8vw;
    margin-top: 15px;
}

h2 {
    color: #9c9bf8;
    font-size: 5vw;
    font-weight: 700;
}

p {
    color: #6278ea;
    margin-bottom: 20px;
    font-size: 3vw;
}